body{
    overflow: hidden;
    font-family: Montserrat,sans-serif;;
    margin: 0px;
    padding: 0px;
}

header{
    box-sizing: border-box;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(224, 76, 6);
}
header .name{
    width: 30%;
    margin-left: 12%;
    color: white;
    font-size: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: 700;
}
.nav_bar{
    width: 30%;
    margin-right: 15%;
    display: flex;
    justify-content: space-around;
}
.nav_bar button{
    flex-shrink: 0;
    cursor: pointer;
    border: none;
    background-color: rgb(224, 76, 6);
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
}

.home-image-container{
    position: absolute;
    top: 80px; /* Height of your navbar */
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.home-banner-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.text-overlay h1 {
    color: white;
    font-size: 7vh;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px black; /* Webkit-based browsers */
}  
.text-overlay p {
font-weight: 700;
color: black;
font-size: 3vh;
-webkit-text-stroke: 0.5px white;
}

