body{
    overflow: -moz-hidden-unscrollable;
    font-family: Montserrat,sans-serif;;
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(224, 76, 6);
}
header .name{
    width: 30%;
    margin-left: 12%;
    color: white;
    font-size: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: 700;
}
.nav_bar{
    width: 30%;
    margin-right: 15%;
    display: flex;
    justify-content: space-around;
}
.nav_bar button{
    flex-shrink: 0;
    cursor: pointer;
    border: none;
    background-color: rgb(224, 76, 6);
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
}
.main{
    height: 750px;
}
.home-banner-image{
    height: 100%;
    width: 100%;
}
